<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>restart_btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{206,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,60}}</string>
                <key>sourceSize</key>
                <string>{206,60}</string>
            </dict>
            <key>restart_btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{206,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,60}}</string>
                <key>sourceSize</key>
                <string>{206,60}</string>
            </dict>
            <key>return_btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{206,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,60}}</string>
                <key>sourceSize</key>
                <string>{206,60}</string>
            </dict>
            <key>return_btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{206,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,60}}</string>
                <key>sourceSize</key>
                <string>{206,60}</string>
            </dict>
            <key>start_btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{206,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,60}}</string>
                <key>sourceSize</key>
                <string>{206,60}</string>
            </dict>
            <key>start_btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,60}}</string>
                <key>sourceSize</key>
                <string>{206,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btns.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3f6e8962c245e0ecf0e18376f372fb3:1/1$</string>
            <key>textureFileName</key>
            <string>btns.png</string>
        </dict>
    </dict>
</plist>
