<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>eliminate_pattern_effect</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.2</real>
			<key>restoreOriginalFrame</key>
			<false/>
			<key>loops</key>
			<integer>1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>eliminate_pattern_effect_01.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
                    <key>spriteframe</key>
                    <string>eliminate_pattern_effect_02.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
                    <key>spriteframe</key>
                    <string>eliminate_pattern_effect_03.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
                    <key>spriteframe</key>
                    <string>eliminate_pattern_effect_03.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
                    <key>spriteframe</key>
                    <string>eliminate_pattern_effect_04.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
					<key>spriteframe</key>
					<string>eliminate_pattern_effect_05.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
                    <key>spriteframe</key>
                    <string>eliminate_pattern_effect_06.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
                    <key>spriteframe</key>
                    <string>eliminate_pattern_effect_07.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
                    <key>spriteframe</key>
                    <string>eliminate_pattern_effect_08.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
                    <key>spriteframe</key>
                    <string>eliminate_pattern_effect_09.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
                    <key>spriteframe</key>
                    <string>eliminate_pattern_effect_10.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
                    <key>spriteframe</key>
                    <string>eliminate_pattern_effect_11.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
                    <key>spriteframe</key>
                    <string>eliminate_pattern_effect_12.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
                    <key>spriteframe</key>
                    <string>eliminate_pattern_effect_13.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
					<key>spriteframe</key>
					<string>eliminate_pattern_effect_14.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
                    <key>spriteframe</key>
                    <string>eliminate_pattern_effect_15.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
                    <key>spriteframe</key>
                    <string>eliminate_pattern_effect_16.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
                    <key>spriteframe</key>
                    <string>eliminate_pattern_effect_17.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>spriteframe</key>
                    <string>eliminate_pattern_effect_18.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
			</array>
		</dict>
        <key>heal_effect</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.2</real>
			<key>restoreOriginalFrame</key>
			<false/>
			<key>loops</key>
			<integer>1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>heal_effect_01.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
                    <key>spriteframe</key>
                    <string>heal_effect_02.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
					<key>spriteframe</key>
					<string>heal_effect_03.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
                    <key>spriteframe</key>
                    <string>heal_effect_04.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
					<key>spriteframe</key>
					<string>heal_effect_05.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
                    <key>spriteframe</key>
                    <string>heal_effect_06.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
					<key>spriteframe</key>
					<string>heal_effect_07.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
                    <key>spriteframe</key>
                    <string>heal_effect_08.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
					<key>spriteframe</key>
					<string>heal_effect_09.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
                    <key>spriteframe</key>
                    <string>heal_effect_10.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
					<key>spriteframe</key>
					<string>heal_effect_11.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
                    <key>spriteframe</key>
                    <string>heal_effect_12.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
			</array>
		</dict>
        <key>speed_up_effect</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.2</real>
			<key>restoreOriginalFrame</key>
			<false/>
			<key>loops</key>
			<integer>1</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>speed_up_effect_01.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
                    <key>spriteframe</key>
                    <string>speed_up_effect_02.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
					<key>spriteframe</key>
					<string>speed_up_effect_03.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
                    <key>spriteframe</key>
                    <string>speed_up_effect_04.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
				<dict>
					<key>spriteframe</key>
					<string>speed_up_effect_05.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
                    <key>spriteframe</key>
                    <string>speed_up_effect_06.png</string>
                    <key>delayUnits</key>
                    <integer>1</integer>
                </dict>
			</array>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>spritesheets</key>
		<array>
			<string>effects_frames.plist</string>
		</array>
		<key>format</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>