<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>defend_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,197},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>eliminate_pattern_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,374},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>eliminate_pattern_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,302},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>eliminate_pattern_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,230},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>eliminate_pattern_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,158},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>eliminate_pattern_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,404},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>eliminate_pattern_effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,170},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>eliminate_pattern_effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,312},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>eliminate_pattern_effect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,80},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>eliminate_pattern_effect_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,427},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>eliminate_pattern_effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,88},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>eliminate_pattern_effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,90},{84,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,70}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>eliminate_pattern_effect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,410},{88,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,70}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>eliminate_pattern_effect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,318},{90,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,72}}</string>
                <key>sourceSize</key>
                <string>{90,72}</string>
            </dict>
            <key>eliminate_pattern_effect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,222},{94,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,72}}</string>
                <key>sourceSize</key>
                <string>{94,72}</string>
            </dict>
            <key>eliminate_pattern_effect_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{96,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,74}}</string>
                <key>sourceSize</key>
                <string>{96,74}</string>
            </dict>
            <key>eliminate_pattern_effect_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,224},{100,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,74}}</string>
                <key>sourceSize</key>
                <string>{100,74}</string>
            </dict>
            <key>eliminate_pattern_effect_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{102,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,74}}</string>
                <key>sourceSize</key>
                <string>{102,74}</string>
            </dict>
            <key>eliminate_pattern_effect_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>freeze_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,276},{39,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,65}}</string>
                <key>sourceSize</key>
                <string>{39,65}</string>
            </dict>
            <key>frozen_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>heal_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{48,77}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{48,77}}</string>
                <key>sourceSize</key>
                <string>{78,115}</string>
            </dict>
            <key>heal_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,260},{50,81}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,32},{50,81}}</string>
                <key>sourceSize</key>
                <string>{78,115}</string>
            </dict>
            <key>heal_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,317},{54,85}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{54,85}}</string>
                <key>sourceSize</key>
                <string>{78,115}</string>
            </dict>
            <key>heal_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,318},{56,91}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{56,91}}</string>
                <key>sourceSize</key>
                <string>{78,115}</string>
            </dict>
            <key>heal_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,100},{58,95}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{58,95}}</string>
                <key>sourceSize</key>
                <string>{78,115}</string>
            </dict>
            <key>heal_effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,326},{56,99}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{56,99}}</string>
                <key>sourceSize</key>
                <string>{78,115}</string>
            </dict>
            <key>heal_effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{52,103}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{52,103}}</string>
                <key>sourceSize</key>
                <string>{78,115}</string>
            </dict>
            <key>heal_effect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{56,107}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{56,107}}</string>
                <key>sourceSize</key>
                <string>{78,115}</string>
            </dict>
            <key>heal_effect_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{52,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{52,111}}</string>
                <key>sourceSize</key>
                <string>{78,115}</string>
            </dict>
            <key>heal_effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,113}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{54,113}}</string>
                <key>sourceSize</key>
                <string>{78,115}</string>
            </dict>
            <key>heal_effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,117},{54,105}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{54,105}}</string>
                <key>sourceSize</key>
                <string>{78,115}</string>
            </dict>
            <key>heal_effect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,443},{54,65}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,48},{54,65}}</string>
                <key>sourceSize</key>
                <string>{78,115}</string>
            </dict>
            <key>speed_up_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{43,84}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{43,84}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>speed_up_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{41,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{41,84}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>speed_up_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,188},{43,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{43,86}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>speed_up_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{43,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{43,86}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>speed_up_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,100},{55,86}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{55,86}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>speed_up_effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,176},{57,82}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{57,82}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects_frames.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a2b0ed9c3874d908f29577a8595d4bb:1/1$</string>
            <key>textureFileName</key>
            <string>effects_frames.png</string>
        </dict>
    </dict>
</plist>
