<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heal_value_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,216},{38,38}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{38,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>heal_value_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{26,38}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{26,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>heal_value_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{34,38}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{34,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>heal_value_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,74},{34,38}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{34,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>heal_value_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,178},{36,38}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{36,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>heal_value_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,66},{34,38}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{34,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>heal_value_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{36,38}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{36,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>heal_value_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{34,38}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{34,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>heal_value_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,186},{36,40}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{36,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>heal_value_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,140},{36,38}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{36,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hurt_value_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{38,38}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{38,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hurt_value_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,38}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{26,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hurt_value_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,38},{34,38}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{34,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hurt_value_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,30},{34,38}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{34,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hurt_value_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{36,38}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{36,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hurt_value_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{34,38}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{34,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hurt_value_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,110},{36,38}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{36,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hurt_value_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{34,38}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{34,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hurt_value_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,148},{36,40}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{36,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hurt_value_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,102},{36,38}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{36,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>values.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e765d5bb5f4c5faf8a6c4df5a4c67009:1/1$</string>
            <key>textureFileName</key>
            <string>values.png</string>
        </dict>
    </dict>
</plist>
